<tr class="bg-primary">
  <td></td>
  <td></td>
  <td><%= instance_variable_get("@#{step_title}_result")["investiton"] %></td>
  <td><%= instance_variable_get("@#{step_title}_result")["profit"] %></td>
  <td><%= instance_variable_get("@#{step_title}_result")["attractiveness"].round(2) %></td>
</tr>
