<% if params[:job_id] %>
  <div class="js-progress">
    <p><%= I18n.t("progressbar.title.#{params[:pb_kind]}") %></p>
    <div class="progress">
      <div class="js-progressbar progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-jobid=<%= params[:job_id] %>></div>
    </div>
  </div>
  <div class="js-panel-body"></div>
<% else %>
  <%= render :partial => 'commons/breadcrumbs' %>
  <%= render :partial => 'segments' %>
<% end %>
