.content-wrapper
  margin-top: 10px
  margin-bottom: 30px

  .new-software-product-button
    margin-bottom: 10px

  .software-products
    clear: both

    h1
      text-align: center

  .software-product-attribute
    clear: both

    p
      &:first-child
        font-weight: bold
        margin-right: 15px

    .models
      clear: both

      a
        text-decoration: none
